* {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Poppins', sans-serif;
}
#title{
    text-align: center;
}
#container{
    margin-left: 5%;
    margin-right: 5%;
}
#loginForm{
    background-color: white;    
    width: 500px;
    padding: 50px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio]{
    cursor: pointer;
}
#formRadio{
    width: 100%; 
}
#signIn{
    margin-top: 20px;
    text-align: center;
}
button[type=submit]{
    background-color: #01A659;
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}
.formLabel{
    font-weight: 600;
}
#formRegister{
    text-align: center;
}

/* responsive design */
@media screen and (max-width: 600px) {
    #container{
        width: auto;        
    }
    #loginForm{
        width: auto;
        padding: auto;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }
}